# Heading
## Sub Heading
### Sub Sub Heading

*This code is in Italics*

**BOLD**

#latex

$\alpha$            
$\theta$

#ctrl + / ( commenting/uncommenting )

# Data Types and Structures:

Starting with widely used data types, you should be familiar with integers (int), floats (float), strings (str), and booleans (bool). 

## Data types:

In [1]:
a= 1
type(a)

int

In [2]:
b= 2.3456
type(b)

float

In [3]:
c = 'Hi "there'
type(c)

str

In [4]:
d = True 
type(d)

bool

In [5]:
e, f = True, False
print(type(e), type(f))

<class 'bool'> <class 'bool'>

In [2]:
myText = 'finance'
'i' in myText

True

In [5]:
myText.capitalize()
myText.isdecimal()

False

In [6]:
for i in myText:
    print(i)

f
i
a
n
c
e

In [47]:
del myText

In [9]:
myString = 'Hello'
list(myString)

['H', 'e', 'l', 'l', 'o']

In [11]:
#ASCII
for i in 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz':
    print(ord(i))

65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122

## Typecasting

In [6]:
astring = "5500"
print(type(astring))

<class 'str'>

In [7]:
#Convert integer string into integer. 
astring = int(astring)
print(type(astring))

<class 'int'>

In [ ]:
#You can only convert integer type string. 
astring = "5500b"
astring = int(astring)

In [ ]:
#similarly convert interger or bool into string. 
a = 123
print(str(a))

In [ ]:
print(bool(a))

In [ ]:
print(bool("anubhav"))

In [ ]:
bool("")

## Arithmetic operators

In [ ]:
a= 1
b= 2

c = (a**2 + b**2 + 2*a*b)**0.5
print(c)

In [ ]:
9**(1/2)

In [ ]:
from math import *
print(sqrt(9))

In [ ]:
answer = 43.2 + 56.0 / 14 - 9 * 2
print(answer)

## Data structures (lists, tuples, and dictionaries)

**List and Tuple**

List and Tuple in Python are the classes of Python Data Structures. The list is dynamic, whereas the tuple has static characteristics. This means that lists can be modified whereas tuples cannot be modified, the tuple is faster than the list because of static in nature. Lists are denoted by the square brackets but tuples are denoted as parenthesis.

List:
1. Lists are mutable	                                                     
2. The implication of iterations is Time-consuming	
3. The list is better for performing operations, such as insertion and deletion.
4. Lists consume more memory.
5. Lists have several built-in methods.
6. Unexpected changes and errors are more likely to occur.

Tuple:
1. Tuples are immutable
2. The implication of iterations is comparatively Faster
3. A Tuple data type is appropriate for accessing the elements
4. Tuple consumes less memory as compared to the list
5. Tuple does not have many built-in methods.
6. Unexpected changes and errors are more unlikely.

In [8]:
# multiple data types can be stored in a Python list and tuple.
l1 = [1, True, "Earth", 4.0]
t1 = (1, True, "Earth", 4.0)
print(l1, t1)

print(l1[2])
print(t1[1])

[1, True, 'Earth', 4.0] (1, True, 'Earth', 4.0)
Earth
True

In [ ]:
jidsjgdwui = ()

In [6]:
#Nested Lists and tuples
l1 = [1, True, "Earth", [1,2,[100]]]
t1 = (1, True, "Earth", (1,2,100))
print(l1)
print(t1)

[1, True, 'Earth', [1, 2, [100]]]
(1, True, 'Earth', (1, 2, 100))

In [14]:
myTup = (1,2,3,4,4,3,6,2,2)
myTup[-1]
myTup.count(2)

3

In [13]:
l1[3][2][0]

100

In [48]:
#Slicing
lt = [1, 2, 4, 4, 3, 3, 3, 6, 5]
tp = (1, 2, 4, 4, 3, 3, 3, 6, 5)

print(lt[::-1])

[5, 6, 3, 3, 3, 4, 4, 2, 1]

In [49]:
2 in lt

True

In [15]:
list[a:b:-1]

list[slice(1, 2.3456, -1)]

In [16]:
#addition and multiplication
l =[1, 2, 3, 4]
print(l + [4, 5, 6])
print(l*3)

t =(1, 2, 3, 4)
print(t + (4, 5, 6))
print(t*2)

[1, 2, 3, 4, 4, 5, 6]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
(1, 2, 3, 4, 4, 5, 6)
(1, 2, 3, 4, 1, 2, 3, 4)

In [1]:
#Test mutability 
lt = [1, 2, 4, 4, 3]
tp = (1, 2, 4, 4, 3)

lt[2] = 5
#tp[2] = 5

print(lt)

[1, 2, 5, 4, 3]

In [2]:
#insert
lt.insert(1,0)
lt

[1, 0, 2, 5, 4, 3]

In [20]:
#remove
lt.remove(0)
lt

[1, 0, 2, 5, 4, 3]

In [ ]:
#Append
lt.append(5)
print(lt)

In [ ]:
#extend
lt.extend([1,2,3])
print(lt)

**When to Use Tuples Over Lists?**

In Python, tuples and lists are both used to store collections of data, but they have some important differences. Here are some situations where you might want to use tuples instead of lists – 

Immutable Data – Tuples are immutable, thus once they are generated, their contents cannot be changed. This makes tuples a suitable option for storing information that shouldn’t change, such as setup settings, constant values, or other information that should stay the same while your programme is running.

Performance – Tuples are more lightweight than lists and might be quicker to generate, access, and iterate through since they are immutable. Using a tuple can be more effective than using a list if you have a huge collection of data that you need to store, retrieve, and use regularly and that data does not need to be altered.

Data integrity – By ensuring that the data’s structure and contents stay consistent, tuples can be utilised to ensure data integrity. To make sure the caller is aware of how much data to expect, for instance, if a function returns a set amount of values, you might want to return them as a tuple rather than a list.

****************************************************************************************************************************

**Dictionaries**
These are another type of collection in Python. While lists are integer indexed, dictionaries are more like addresses. Dictionaries have key-value pairs, and keys are analogous to indexes in lists.

Concepts to focus on:

1. Iterating through a dictionary (also covered in loops).
2. Using helper methods like get(), pop(), items(), keys(), update(), and so on.

**In dictionaries value can be anything , keys can be only immutable objects**

In [50]:
Dict = {True: 'Venus', 'Life': 'Earth', 3: ['Mars','Jupyter',3]}
print(Dict)

{True: 'Venus', 'Life': 'Earth', 3: ['Mars', 'Jupyter', 3]}

In [55]:
list(Dict.items())[1]

('Life', 'Earth')

In [23]:
# Creating a Nested Dictionary
Dict = {1: 'Venus', 2: 'Earth',
        3: {'A': 'Welcome', 'B': 'To', 'C': 'Mars'}}
  
print(Dict)

{1: 'Venus', 2: 'Earth', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Mars'}}

In [28]:
Dict[3]['A']

'Welcome'

In [29]:
#While adding a value, if the key-value already exists,
# the value gets updated otherwise a new Key with the value is added to the Dictionary.
Dict[0] = 'Mercury'
Dict[2] = 'For'
Dict[4] = 1
print(Dict)

{1: 'Venus', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Mars'}, 0: 'Mercury', 4: 1}

In [ ]:
Dict[2]= "hxfuoedfu"
print(Dict)

In [ ]:
# Adding Nested Key value to Dictionary
Dict[5] = {'Nested': {'1': 'Life', '2': 'Geeks'}}

In [ ]:
#accessing a element using key
print("Accessing %sth a element using key:" %0, Dict[0])
print("Accessing %sth a element using key:" %1, Dict.get(1))

In [ ]:
Dict

In [ ]:
print(Dict[5]['Nested']['2'])

In [ ]:
del(Dict[5])

In [ ]:
print(Dict)

In [8]:
# demo for all dictionary methods
dict1 = {1: "Python", 2: "Java", 3: "Ruby", 4: "Scala"}
  
# copy() method
dict2 = dict1.copy()
print(dict2)
  
# clear() method
dict1.clear()
print(dict1)
  
# get() method
print(dict2.get(1))
  
# items() method
print(dict2.items())
  
# keys() method
print(dict2.keys())

# values() method
print(dict2.values())
  
# pop() method
dict2.pop(4)
print(dict2)
  
# popitem() method
dict2.popitem()
print(dict2)
  
# update() method
dict2.update({3: "Scala"})
print(dict2)

{1: 'Python', 2: 'Java', 3: 'Ruby', 4: 'Scala'}
{}
Python
dict_items([(1, 'Python'), (2, 'Java'), (3, 'Ruby'), (4, 'Scala')])
dict_keys([1, 2, 3, 4])
dict_values(['Python', 'Java', 'Ruby', 'Scala'])
{1: 'Python', 2: 'Java', 3: 'Ruby'}
{1: 'Python', 2: 'Java'}
{1: 'Python', 2: 'Java', 3: 'Scala'}

In [15]:
#make dictionary from two list
l = ['A','B','C','E','D']
m = [1, 2, 3, 4]
print(dict(zip(l,m)))

{'A': 1, 'B': 2, 'C': 3, 'E': 4}

In [20]:
l = [1, 2, 5, 4, 3, 1, 1, 0, 1, 1, 1, 5, 1, 2, 3, 1, 2, 3]
l.sort(reverse = True)
l
#print(sorted(l, reverse = True))

[5, 5, 4, 3, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 0]

In [49]:
m = [3,5,2,7,9,5]
m.sort()
print(m)

[2, 3, 5, 5, 7, 9]

In [24]:
Dict

{1: 'Venus', 2: 'Earth', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Mars'}}

In [29]:
print(sorted(Dict.items(), reverse = True))

[(3, {'A': 'Welcome', 'B': 'To', 'C': 'Mars'}), (2, 'Earth'), (1, 'Venus')]

In [ ]:
l = (1, 2, 5, 4, 3, 1, 1, 0, 1, 1, 1, 5, 1, 2, 3, 1, 2, 3)
print(type(sorted(l)))

## Set in Python

A Set in Python programming is an unordered collection data type that is iterable, mutable and has no duplicate elements. 

Set are represented by { } (values enclosed in curly braces)

The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set. This is based on a data structure known as a hash table. Since sets are unordered, we cannot access items using indexes as we do in lists.

In [ ]:
myset = {"Python", "for", 10, 52.7, True}
print(type(myset))

In [ ]:
myset.add("for")
print(myset)

In [30]:
l = [0, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 5, 5]
print(set(l))

{0, 1, 2, 3, 4, 5}

In [31]:
l = [0, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 5, 5]
dict(((x, l.count(x)) for x in set(l)))

{0: 1, 1: 8, 2: 3, 3: 3, 4: 1, 5: 2}

## String Operation:

In [ ]:
#Concatenating strings using +
print("Anubhav" + " Singh")

In [ ]:
print("   Xyz")

In [ ]:
print("   Xyz".strip())

In [ ]:
#substring
s = "cbsjigbfjhedkfjedhfugejfhejf"
print(s[3::-1])

In [53]:
#Splitting the string using the split() method
print("Knowing how to deal with text data and / their operators comes in handy and".split("/"))

['Knowing how to deal with text data and ', ' their operators comes in handy and']

In [30]:
l = ['sausdg','dhwd','dheugf']
print("<->".join(l))

sausdg<->dhwd<->dheugf

In [31]:
"?".join(l)

'sausdg?dhwd?dheugf'

In [32]:
#Joining the string using join() method

myDict = {"name": "John", "country": "Norway"}
mySeparator = "->"

print(mySeparator.join(myDict.values()))

John->Norway

In [ ]:
print("AbhdhaDjasdcbBH ABC".lower(), "AbhdhaDjasdcbBH ABC".upper())

In [ ]:
#sorted("bwshgdwhdklwjfdhijgdjhdqgcuiqsgc")

# Conditionals, Loops and Functions

## Conditional statement
Python uses these boolean variables to assess conditions. Whenever there is a comparison or evaluation, boolean values are the resulting solution.
1. Assignment operator (=) , comparison operator (==), Greater (>), less (<), similarly (>=) and (<=)


2. Boolean operators (or, and, not)

    These are used to evaluate complex assertions together.
    1. or - One of the many comparisons should be true for the entire condition to be true.
    2. and — All of the comparisons should be true for the entire condition to be true.
    3. not — Checks for the opposite of the comparison specified.
    

3. Concepts to learn:

    1. if, else, and elif statements to construct your condition.
    2. Making complex comparisons in one condition.
    3. Keeping indentation in mind while writing nested if / else statements.
    4. Using boolean, in, is, and not operators.

In [ ]:
i = 60
if (i == 10):
    print("i is 10")
elif (i >= 15 and i %10 != 0):
    print("i is 15")
elif (i <= 20):
    print("i is 20")
else:
    if i not in [30, 40, 50]:
        print('Its divisible by 10 and more than 20')
    else:
        print("idk about i")

In [ ]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]
l3 = l1

In [ ]:
l1 is l3

## Loops

Often you'll need to do a repetitive task, and loops will be your best friend to eliminate the overhead of code redundancy. You’ll often need to iterate through each element of a list or dictionary, and loops come in handy for that. while and for are two types of loops.

Focus on:

1. The range() function and iterating through a sequence using for loops.
2. while loops

In [ ]:
years = [2000, 2020, 2021, 2100, 2400]

for year in years:
    
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        print(f"{year} is a leap year.")
    else:
        print(f"{year} is not a leap year.")

In [ ]:
years = [2000, 2020, 2021, 2100, 2400]

for year in years:
    
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        print(" is a leap year.",year)
    else:
        print(" is not a leap year.",year)

In [36]:
d = {1 : 2, 3:4, 5:6}
for i in d.items():
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [37]:
d = {1 : 2, 3:4, 5:6}
for i,j in d.items():
    print(i,j)

1 2
3 4
5 6

In [ ]:
sum_ = 0
for i in range(2, 101):
    sum_ += i
print(sum_)

In [3]:
for i in range(1, 6):
    if i == 3:
        break
    print(i)

1
2

#####

In [38]:
age = [12,43,45,10]
i = 0
while i < len(age):
    if age[i] >= 18:
        print("Adult")
    else:
        print("Juvenile")
    i += 1

Juvenile
Adult
Adult
Juvenile

In [41]:
age = [12,43,45,10]
for i in age:
    if i >= 18:
        print('Adult')
    else:
        print('juvenile')

juvenile
Adult
Adult
juvenile

## List Comprehension
A sophisticated and short way of creating a list using and iterable followed by a for clause.

In [33]:
cube = [i**3 for i in range(5)]
print(cube)

[0, 1, 8, 27, 64]

In [ ]:
[ True if i%2==0 else False for i in range(1,11)]

In [34]:
words = ["apple", "banana", "orange", "grape", "watermelon", "kiwi", "peach"]

# Filter out strings with length greater than 5 using list comprehension
filtered_words = [word for word in words if len(word) <= 5]
print(filtered_words)

['apple', 'grape', 'kiwi', 'peach']

In [ ]:
words = ["apple", "banana", "orange", "grape", "watermelon", "kiwi", "peach"]

# Filter out strings with length greater than 5 using list comprehension
filtered_words = [True if word == 'apple' else False for word in words if len(word) <= 5] # condition ,iteration, filter
print(filtered_words)

## Functions
While working on a big project, maintaining code becomes a real chore. If your code performs similar tasks many times, a convenient way to manage your code is by using functions.

A function is a block of code that performs some operations on input data and gives you the desired output.

Using functions makes the code more readable, reduces redundancy, makes the code reusable, and saves time.

In [54]:
def subtract(x, y):
    """Function to perform subtraction."""
    return x - y

subtract(5,1)

4

In [61]:
def subtract(x, y):
    """Function to perform subtraction."""
    return x - y

x = subtract(5,1)
x

4

**Default Arguments**

A default argument is a parameter that assumes a default value if a value is not provided in the function call for that argument. The following example illustrates Default arguments.

In [62]:
def multiply (x, y = 1):
    return x*y

print(multiply(5))
print(multiply(5,6))

5
30

**Keyword Arguments**

The idea is to allow the caller to specify the argument name with values so that the caller does not need to remember the order of parameters.

In [ ]:
def divide (x, y):
    return x/y

divide( y = 5, x = 6)

**Arbitrary Keyword  Arguments**

In [ ]:
#    In Python Arbitrary Keyword Arguments, *args, and **kwargs can pass a variable number of arguments to a function using special symbols. There are two special symbols:
#  
#   *args in Python (Non-Keyword Arguments)
#   **kwargs in Python (Keyword Arguments)

In [ ]:
# *args 
def sumEverything(*arg):
    sum_ = 0 
    for x in arg:                                                   #tuples
        sum_ += x
        
    return sum_

sumEverything(1, 2, 3, 4, 5, 6, 7, 8)

In [39]:
myList = [2,4,5,3,4]
len(myList)

5

In [ ]:
# **kwargs
def prodEverything(**kwarg):
    prod = 1                                                       #dictionary
    for i , j in kwarg.items():
        prod *= j
        
    return prod

prodEverything(x=1,y= 2, z= 3, a = 4, b = 5, c = 6, d = 7, e = 8)

In [5]:
portfolio = {}
def add_stockprice(name,num_shares, price):
    info = {}
    info['num_shares'] = num_shares
    info['price'] = price
    portfolio[name] = info
    

add_stockprice('SBI',100,20)

In [6]:
portfolio

{'SBI': {'num_shares': 100, 'price': 20}}

In [45]:
employees = {}

def add_employee(name, position, salary):
    info = {}
    info['position'] = position
    info['salary'] = salary
    employees[name] = info
    
add_employee('varun', 'consultant', 100)
add_employee('varii', 'consul', 10)
employees

{'varun': {'position': 'consultant', 'salary': 100},
 'varii': {'position': 'consul', 'salary': 10}}

In [46]:
employees = []

def add_employee(name, position, salary = 0):
    """Function to add an employee to the database."""
    employee = {
        'name': name,
        'position': position,
        'salary': salary
    }
    employees.append(employee)
add_employee('varun', 'consultant', 100)
add_employee('varii', 'consul', 10)

employees

[{'name': 'varun', 'position': 'consultant', 'salary': 100},
 {'name': 'varii', 'position': 'consul', 'salary': 10}]

In [ ]:
# Employee database
employees = []

def add_employee(name, position, salary = 0):
    """Function to add an employee to the database."""
    employee = {
        'name': name,
        'position': position,
        'salary': salary
    }
    employees.append(employee)


def display_employees():
    """Function to display information of all employees."""
    for idx, employee in enumerate(employees, start=1):
        print(f"Employee {idx}:")
        print(f"Name: {employee['name']}")
        print(f"Position: {employee['position']}")
        print(f"Salary: ${employee['salary']}\n")

def calculate_average_salary():
    """Function to calculate the average salary of all employees."""
    if not employees:
        return 0

    total_salary = sum(employee['salary'] for employee in employees)
    average_salary = total_salary / len(employees)
    return average_salary


# Adding employees to the database
add_employee("John Doe", "Manager", 50000)
add_employee("Jane Smith", "Developer", 40000)
add_employee("Michael Johnson", "Designer", 45000)

# Display employee information
print("Employee Information:")
display_employees()

# Calculate average salary
average_salary = calculate_average_salary()
print(f"Average Salary: ${average_salary:.2f}")

**Pass by value** (for immutable objects):
In Python, immutable objects like integers are passed by value. Changes made to the parameter inside the function do not affect the original object outside the function.

**Pass by reference** (for mutable objects):
In Python, mutable objects like lists are passed by reference. Changes made to the parameter inside the function directly affect the original object outside the function.

In [ ]:
l1 = [1, 2, 3, 4]
value = 1

def doSomething(l, a):
    l[0] = 0
    a = 2
    return 0

doSomething(l1, value)
print(l1, value)

## lambda function
A lambda function in Python is a small anonymous function that can have any number of input parameters but can only have one expression. It is defined using the lambda keyword, and its primary purpose is to provide a concise way of creating simple functions without the need for a full def statement.

In [66]:
calculate = lambda a, b, c, d : a//b + c-d                   #(input : output)

In [69]:
sq = lambda x : x**(2)
sq(9)

81

In [67]:
print(calculate(1,2,3,4))

-1

In [10]:
list(map(lambda x : x//2, [1,2,3,4]))      # map(function, iterable)
                                           # The map function in Python is used to apply a given function to each item 
                                           #(element) in an iterable (e.g., a list, tuple, or other iterable) and returns an 
                                           #iterator that yields the results.

[0, 1, 1, 2]

In [11]:
map(lambda x : x//2, [1,2,3,4])

In [9]:
list(filter(lambda x : x%2==0, [4,5,6,7]))

[4, 6]

In [ ]:
data = [[1, 5], [3, 2], [2, 8], [4, 3]]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

## Recursion

Recursion is a programming technique where a function calls itself in order to solve a problem. In other words, it's a way of breaking down a complex problem into smaller, more manageable subproblems until a simple base case is reached. Each recursive call solves a smaller part of the problem, and the results are combined to obtain the final solution.

A recursive function typically consists of two parts:

Base case: The condition that specifies when the recursion should stop and the function should return a specific value without making further recursive calls. The base case prevents infinite recursion and ensures that the function eventually terminates.

Recursive step: The part of the function where it calls itself with a modified version of the original problem. The recursion works by solving smaller instances of the problem until the base case is met.

In [ ]:
def fibonacci(n):
    if n <= 0:
        return "Invalid input. n should be a positive integer."
    elif n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

# Test the fibonacci function
n = 7
result = fibonacci(n)

print("%sth febo number is " %n, result)

In [56]:
def fact(n):
    if n == 0:                     # 4 * fact(3)
        return 1                   # 3 * fact(2)
    else:
        return n*fact(n-1)
    
print(fact(4))

24


***********************************************************************************************************************

In Python, there are various types of errors (exceptions) that can occur during program execution. Here are some common types of errors:

**SyntaxError**: Raised when the Python interpreter encounters a syntax error in the code. This typically happens when the code violates the rules of the Python syntax.

**IndentationError**: Raised when there is an issue with the indentation of code lines. It occurs when the spaces or tabs used for indentation are not consistent or when there is an unexpected indentation where it is not expected.

**NameError**: Raised when an undefined variable or name is used.

**TypeError**: Raised when an operation or function is applied to an object of an inappropriate type.

**ZeroDivisionError** : Raised when division or modulo operation is performed with zero as the denominator.

**ValueError**: Raised when a function receives an argument of the correct type but an inappropriate value.

**IndexError**: Raised when a sequence subscript (index) is out of range.

**KeyError**: Raised when a dictionary key is not found.

**FileNotFoundError**: Raised when a file or directory is requested but cannot be found.

In [73]:
try:
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    result = num1 / num2
    print("Result:", result)

except ValueError:
    print("Invalid input. Please enter valid integers.")

except ZeroDivisionError:
    print("Cannot divide by zero.")
    
except Exception as e:
    print("An error occurred:", e)

Enter a number: 4
Enter another number: 0
Cannot divide by zero.

In [72]:
#try:
num1 = int(input("Enter a number: "))
num2 = int(input("Enter another number: "))
result = num1 / num2
print("Result:", result)

#except ValueError:
#    print("Invalid input. Please enter valid integers.")

#except ZeroDivisionError:
#    print("Cannot divide by zero.")
    
#except Exception as e:
#    print("An error occurred:", e)

Enter a number: 4
Enter another number: 0

ZeroDivisionError: division by zero

## Decorator 

In Python, a decorator is a powerful and flexible feature that allows you to modify or extend the behavior of functions or methods without changing their code. Decorators are implemented using higher-order functions, which are functions that take another function as an argument and return a new function.

In [74]:
def shout(text):
    return text.upper()
 
def whisper(text):
    return text.lower()
 
def greet(func):
    # storing the function in a variable
    greeting = func("""Hi, I am created by a function passed as an argument.""")
    print (greeting)
 
greet(shout)
greet(whisper)

HI, I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT.
hi, i am created by a function passed as an argument.

In [ ]:
# Python program to illustrate functions
# Functions can return another function
 
def create_adder(x):
    def adder(y):
        return x+y
 
    return adder
 
add_15 = create_adder(15)
 
print(add_15(10))

In [ ]:
# importing libraries
import time
import math

# decorator to calculate duration
# taken by any function.
def calculate_time(func):
    # added arguments inside the inner1,
    # if function takes any arguments,
    # can be added like this.
    def inner1(*args, **kwargs):

        # storing time before function execution
        begin = time.time()
        print("Starting time: ", begin)
        
        func(*args, **kwargs)

        # storing time after function execution
        end = time.time()
        print("End time: ", end)
        print("Total time taken in : ", func.__name__, end - begin)

    return inner1



# this can be added to any function present,
# in this case to calculate a factorial
@calculate_time
def factorial(num):

	# sleep 2 seconds because it takes very less time
	# so that you can see the actual difference
	time.sleep(2)
	print(math.factorial(num))

# calling the function.
factorial(10)

## Generator

A generator in Python is a special type of iterable, similar to lists or tuples, but with some key differences. Unlike lists that store all their elements in memory, generators **generate elements on-the-fly** as you iterate over them. **They are memory-efficient** and can be more efficient for large data sets or infinite sequences since they do not store the entire sequence in memory at once.

Generators are defined using functions with the yield keyword instead of return. When a generator function is called, it returns an iterator called a generator, which can be used to produce the values using the next() function or by iterating over it in a loop.

In [75]:
# A generator function that yields 1 for first time,
# 2 second time and 3 third time
def simpleGeneratorFun():
    yield 1
    yield 2
    yield 3

# Driver code to check above generator function
for value in simpleGeneratorFun():
    print(value)

1
2
3

In [ ]:
def infinite_natural_numbers():
    n = 1
    while True:
        yield n
        n += 1

# Using the generator in an infinite loop
# for num in infinite_natural_numbers():
# print(num)

In [ ]:
import pandas as pd
import numpy as np
def generate_random_timeseries_data(proportion_to_delete=0.2):
    # Create a date range for the year 2020,  + 20 business days 
    date_range = pd.date_range(start='2020-01-01', end='2021-01-20', freq='B')  # 'B' for business day frequency

    # Generate random data for each business day
    random_data = np.random.rand(len(date_range))

    # Create a DataFrame with the date and the generated random data
    timeseries_data = pd.DataFrame({'Date': date_range, 'Value': random_data})

    # Randomly delete some observations based on the given proportion
    num_observations_to_delete = int(proportion_to_delete * len(timeseries_data))
    indices_to_delete = np.random.choice(timeseries_data.index, num_observations_to_delete, replace=False)
    timeseries_data.drop(indices_to_delete, inplace=True)

    return timeseries_data

In [ ]:
df = generate_random_timeseries_data()

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df.head(50)

In [ ]:
def print_numbers_with_recursion(n):
    if n == 0:
        return
    print_numbers_with_recursion(n - 1)
    print(n)

print_numbers_with_recursion(5)

In [ ]:
# Debugging Assignment: Find Prime Numbers

def is_prime(number):
    if number == 1:
        return False
    for i in range(1, number):
        if number / i == 0:
            return False
    return True

def find_prime_numbers(start, end):
    prime_numbers = []
    for num in range(start, end + 1):
        if is_prime(num):
            prime_numbers.append(num)
    return prime_numbers

# Test the function
start_range = 1
end_range = 50
expected_primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
result = find_prime_numbers(start_range, end_range)

print(f"Start Range: {start_range}")
print(f"End Range: {end_range}")
print(f"Expected Prime Numbers: {expected_primes}")
print(f"Result: {result}")

if result == expected_primes:
    print("Congratulations! The function is correct.")
else:
    print("Too bad! There's a bug in the function.")

In [ ]:
import random
from time import time

dataset_tuple = []

t1 = time()
for i in range(5000):
    Product_ID = random.randint(1,5000)
    Product_name = "Product_" + str(random.randint(1,5000))
    product_price = random.uniform(100,1000)
    Product_Quantity = random.randint(10,100)
    
    dataset_tuple.append((Product_ID,Product_name, product_price, Product_Quantity))

print("Time taken to create list of tuple ", time()-t1)

dataset_list = []

t2 = time()
for i in range(5000):
    Product_ID = random.randint(1,5000)
    Product_name = "Product_" + str(random.randint(1,5000))
    product_price = random.uniform(100,1000)
    Product_Quantity = random.randint(10,100)
    
    dataset_list.append([Product_ID,Product_name, product_price, Product_Quantity])

print("Time taken to create list of list ", time()-t2)

In [ ]:
t1 = time()
output1 = []
for i in range(1000):
    x= dataset_tuple[i][1]

print("Time taken to access 1000 element of tuple ", time()- t1)

t2 = time()
output2 = []
for i in range(1000):
    x = dataset_list[i][1]

print("Time taken to access 1000 element of list ", time()- t2)

In [ ]:
# Task 3 - Memory Usage
tuple_memory_usage = sys.getsizeof(dataset_tuple)
list_memory_usage = sys.getsizeof(dataset_list)
print(tuple_memory_usage, list_memory_usage)

In [ ]:
import random
integer = random.randint(1,100)
float_ = random.uniform(1, 100)

In [ ]:
integer, float_

In [2]:
x = lambda a:a**2

In [4]:
natural_no = range(1,11)

x(2)

In [5]:
x(2)

4

In [8]:
l1 = [x(i) for i in range(1,11)]
    
print(l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
 str1 = "C:/Users/ME454XC/Downloads/Python Fundamentals - AS.ipynb"

In [16]:
str1.split("/")[-1]

'Python Fundamentals - AS.ipynb'

In [78]:
L1 = [1,2,3,5,7,9,10]

for i in range(1,11):
    if i in L1:
        pass
    else:
        print("missing values are:",i)

missing values are: 4
missing values are: 6
missing values are: 8

In [20]:
set(range(1,11)).difference(L1)

{4, 6, 8}